:root { 
--gray_700:#5d6469; 
--blue_gray_100:#cce6e6; 
--gray_900:#182129; 
--gray_900_01:#1e1e1e; 
--black_900_3f:#0000003f; 
--gray_200:#e8e9ea; 
--gray_100:#f4f4f4; 
--teal_400:#339999; 
--teal_600:#0b8080; 
--blue_gray_800:#464e54; 
--black_900_28:#00000028; 
--blue_gray_900:#2f373e; 
--white_A700:#ffffff; 
}